* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	overflow-x: hidden;
	padding: 0px 0px 100px 0px;
}

::-webkit-scrollbar {
	width: 3px;
}
  
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
	background: rgb(174, 252, 252); 
}
  
::-webkit-scrollbar-thumb:hover {
	background: lightcyan; 
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 50px;
	width: 100%;
	padding-bottom: 10px;
}

.title h1 {
	font-size: 1.5rem;
	margin: 10px auto;
}

.title h2 {
	position: fixed;
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	margin-bottom: 10px;
	color: rgb(11, 207, 207);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	background-color: white;
	width: 100%;
	top: 0;
	z-index: 1;
}

.title h2 > a {
	color: black;
	margin-left: 20px;
	margin-right: 20px;
	transition: .3s ease;
}

.title h2 > a:hover {
	color: grey;
}

.title h5 {
	font-size: 0.9rem;
	text-align: center;
	margin: 10px auto;
}

.active {
	margin-top: 30px;
}

.sub-title h3 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 1.2rem;
	color: rgb(11, 207, 207);
	letter-spacing: 2px;
	margin: 70px 0 10px 0;
}

.sub-title h4 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0px 20px;
}

/* ---------------------table-style-one---------------------- */

.table-one {
	border-collapse: collapse;
	margin: 25px auto;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 280px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-one th,
.table-one td {
	padding: 8px 7px;
	font-size: 1.1rem;
	text-align: center;
}

.table-one th {
	background-color: rgb(11, 207, 207);
	color: white;
}

.table-one .dark-color {
	background-color: rgb(174, 252, 252);
}

.table-one .light-color {
	background-color: lightcyan;
}

/* -----------x----------table-style-one-----------x----------- */


/* ---------------------table-style-two---------------------- */

.table-two {
	border-collapse: collapse;
	margin: 25px auto;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 280px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-two td {
	padding: 9px 12px;
	font-size: 1.1rem;
	text-align: center;
}

.table-two tbody .not-active {
    background-color: rgb(11, 207, 207);
	color: white;
}

.table-two tbody {
	background-color: lightcyan;
}

.table-two tbody .dark-color {
	background-color: rgb(174, 252, 252);
}

/* -----------x----------table-style-two-----------x----------- */


/* ---------------------table-style-three---------------------- */
  
.table-three {
	border-collapse: collapse;
	margin: 25px auto;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 280px;
	border-radius: 5px 5px 5px 5px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-three th,
.table-three td {
	padding: 8px 7px;
	font-size: 1.1rem;
	text-align: center;
}

.table-three tbody tr .red {
	color: red;
}

.table-three tbody tr .yellow {
	color: yellow;
}

.table-three tbody tr .green {
	color: green;
}

.table-style-three .table-three thead tr, 
.table-style-three .table-three .active {
	background-color: rgb(11, 207, 207);
	color: white;
	text-align: center;
	font-size: 1.2rem;
	letter-spacing: 2px;
} 

.table-style-three tbody tr td {
	background-color: lightcyan;
}

.table-three .shade {
	background-color: rgb(174, 252, 252);
}

/* -----------x----------table-style-three----------x------------ */


/* ---------------------table-style-four---------------------- */

.table-style-four {
	margin: 30px auto 0px auto;
}
  
.table-four {
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 280px;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-four thead th {
	background-color: rgb(11, 207, 207);
	color: white;
	text-align: center;
	font-size: 1.2rem;
	letter-spacing: 2px;
	padding: 9px 17px;
}

.table-four td {
	padding: 9px 12px;
	font-size: 1.1rem;
	text-align: center;
}

.table-four tbody tr {
	background-color: lightcyan;
}

.table-four tbody .active {
   background-color: rgb(174, 252, 252);
}
  
.table-style-four {
	overflow-y: scroll;
	height: 200px;
	width: fit-content;
}
  
.table-style-four thead th {
	position: sticky;
	top: 0;
}

/* ------------x---------table-style-four-----------x----------- */

/* -------------------resposiveness------------------- */
@media only screen and (max-width: 520px) {
	.table-style-one, 
	.table-style-two, 
	.table-style-three, 
	.table-style-four {
		width: 80%;
		margin: 0 auto;
		overflow-x: auto;
	}

	.table-style-four {
		margin-top: 30px;
	}	
	
	.table-style-one::-webkit-scrollbar, 
	.table-style-two::-webkit-scrollbar, 
	.table-style-three::-webkit-scrollbar, 
	.table-style-four::-webkit-scrollbar {
		display: none;
	}
	
	.table-one,
	.table-two,
	.table-three,
	.table-four {
		width: 100%;
	}
		
	}

/* -----------x--------resposiveness---------x---------- */
